/*
 * Copyright (c) 2025 Alif Semiconductor
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <freq.h>

/ {
	clocks {
		syst_aclk: axi-clk {
			compatible = "fixed-clock";
			clock-frequency = <DT_FREQ_M(400)>;
			#clock-cells = <0>;
		};

		syst_hclk: ahb-clk {
			compatible = "fixed-clock";
			clock-frequency = <DT_FREQ_M(200)>;
			#clock-cells = <0>;
		};

		syst_pclk: apb-clk {
			compatible = "fixed-clock";
			clock-frequency = <DT_FREQ_M(100)>;
			#clock-cells = <0>;
		};
	};

	soc: soc {
		clockctrl: clock-controller@1a602000 {
			compatible = "alif,clockctrl";
			reg = <0x1A602000 0x2C>,
			      <0x4903F000 0xB0>,
			      <0x4902F000 0xBC>,
			      <0x1A604000 0x44>,
			      <0x1A609000 0x14>,
			      <0x43007000 0x2C>,
			      <0x400F0000 0x14>;
			reg-names = "cgu",
				    "clkctl_per_mst",
				    "clkctl_per_slv",
				    "aon",
				    "vbat",
				    "m55he_cfg",
				    "m55hp_cfg";
			#clock-cells = <1>;
		};
	};
};
