# Copyright (c) 2025 Alif Semiconductor
# SPDX-License-Identifier: Apache-2.0

if SOC_AE822FA0E5597LS0_RTSS_HP

config NUM_IRQS
	default 480

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 400000000

endif # SOC_AE822FA0E5597LS0_RTSS_HP
